.Intro {
	text-align: center;
	font-size: 2em;
	display: block;
	width: 90vw;
	margin: 3em auto;
	padding-left: 200px;
}

.Summary {
	text-align: center;
	font-size: 1.1em;
	display: block;
	width: 90vw;
	margin: 3em auto;
	padding-left: 200px;
}

body {
  background: rgba(248,248,248,1);
  border-top: 3px solid #3C3E6E;
  left: 50%;
  font-family: 'Libre Baskerville', serif;
  -webkit-font-smoothing: antialiased;
}

.me {
	border-radius: 100%;
	left: 50%;
    width: 10em;    
    padding: 7em 1em;
    top: 100px;
}

.sidenav {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #6f656e;
    overflow-x: hidden;
    padding-top: 20px;
	-webkit-box-shadow: 10px 0 5px -2px rgba(0, 0, 0, 0.1);
	          box-shadow: 10px 0 5px -2px rgba(0, 0, 0, 0.1);
}

.sidenav a {
    padding: 6px 10px 28px 32px;
    text-decoration: none;
    font-size: 22px;
    color: #cfcbce;
    display: block;
}

.sidenav a:hover {
    color: #3C3E6E;
	transition: 0.2s ease-in-out;
	cursor: pointer;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
